@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>All About Joel!!</h1>

<a href="https://www.qwcomedy.com/" target="_blank">Visit Quick Wits Comedy</a>
<br>

<!-- Link to the Baconsale site -->
<a href="https://baconsale.com/" target="_blank">Visit Baconsale</a>
<br>

<a href="https://baconsale.com/">
	<img src="c:\users\emma\source\repos\mission6_calvert\mission6_calvert\wwwroot\img\BaconsaleKate.jpg" alt="Bacon Sale Kate" />
</a>
